a{
    color: black;
}
.container {
    margin: 2em;
}

.up-arrow, .down-arrow {
    font-size: 22px;
}

.up-arrow:hover {
    color: blue;
    flex: 1 ;
    
}

.down-arrow:hover {
    color: red;
    flex: 1 ;
}

.comment-icon {
    font-size: 18px;
    color: #6A706E;
}
.list-group{
    margin: 15px;
}
.list-group-item {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 10fr minmax(30px, 1fr);
    grid-template-rows: minmax(40px, 1fr);
    margin: 0;
}

.list-group-item:hover {
    border: 1px solid black;
}

.vote-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    border-right: 1px solid #CACFD6;
    font-size: 13px;
    font-weight: bold;

}

.post-area{
    padding: 3px 0;
    margin-left: 30px;
}

.post-buttons {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post-title {
    margin: 5px 10px auto 15px;
    line-height: normal;
    font-weight: 600;
    text-align: justify;
    font-size: 100%;
    align-self: center;
}

.post-title:hover {
    text-decoration: none;
    color: black;
}

.post-save {
    width: 70px;
}

.save-icon {
    color: #DD403A;
}

.post-comments {
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    width: 60px;
    height: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: #CACFD6;
    align-items: center;
}

.post-comments:hover {
    color: black;
    background: #CACFD6;
    transition-delay: 0.1s;
    border-radius: 2px;
}
.post-details{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 3px;
}
.detail-item-1, .detail-item-2, .detail-item-3{
    margin-right: 7px;
}
.detail-item-1{
font-weight: 600;
}
.detail-item-2, .detail-item-3, .detail-item-2:hover, .detail-item-3:hover{   
    color: 	#808080;
}
.underlined:hover{
    text-decoration-line: underline;
}
@media screen and (max-width:480px) {
    .vote-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .post-area{
        margin-left: 10px;
        margin-right: 20px;
    }
    .list-group-item{
        padding: 10px;
    }
}


@media(max-width: 900px){
    .post-buttons{
    display: flex;
    flex-direction: column-reverse;
    }
}